<ion-content>
  <ion-header></ion-header>
  <ion-slides pager="true" [options]="slideOpts">
  
    <ion-slide>
      <ion-img src="../assets/welcome.jpg"></ion-img>
      <ion-toolbar slot="start">
        <ion-text>
          <h3>
            We know how difficult it is to keep your days organized and we are here to help you
          </h3>
        </ion-text>
        <ion-icon class="ion-margin" name="arrow-forward-outline"></ion-icon>
      </ion-toolbar>
    </ion-slide>

    <ion-slide>
      <ion-img src="../assets/whats.jpg"></ion-img>
      <ion-toolbar slot="start">
        <ion-text class="ion-margin">
          <h2>What's the Organized Days?</h2>
          <h3>
            The Organized Days is an application that came to help you organize your day.
          </h3>
        </ion-text>

        <ion-icon class="ion-margin" name="arrow-forward-outline"></ion-icon>
      </ion-toolbar>
    </ion-slide>

    <ion-slide>
      <ion-img src="../assets/start.jpg"></ion-img>
      <ion-toolbar slot="start">
        <ion-text class="ion-margin">

          <h3>
        Create your categories, tasks and make your day more productive
          </h3>
          <h2>
            Start now
          </h2>
        </ion-text>

        <ion-tab-button (click)="addCategory()">
          <ion-icon class="ion-margin" name="arrow-forward-outline"></ion-icon>
        </ion-tab-button>
       
      </ion-toolbar>
    </ion-slide>
  </ion-slides>
</ion-content>