<ion-toolbar>
  <ion-header [translucent]="true">
    <ion-title>Welcome</ion-title>
    <ion-toggle  class="ion-padding" color="dark" (ionChange)="colorTheme($event)"></ion-toggle>
  </ion-header>
</ion-toolbar>

<ion-text color="medium" class="ion-text-center ion-padding">
  Your tasks category
</ion-text>


<ion-content>
 <div class="category-list">

   <ion-list class="ion-margin" lines="full">
     <ion-item-sliding>
       
       <ion-item>
         Study
         <ion-button slot="end">
           <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
        
        <ion-item>
          Job
        </ion-item>
        
        <ion-item>
          Home
        </ion-item>
        
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="trashItem(item)">Trash</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-button class="sendTask ion-padding" color="dark" expand="block" fill="outline" (click)="addCategory()">
    <strong>Add category</strong>
  </ion-button>

</ion-content>

<ion-content>
  
</ion-content>

